node_modules
.next
.vscode
.husky
.nyc_output
.prettierignore
.stylelintignore
*.log
*.git
pnpm-lock.yaml
package-lock.json
bun.lockb

coverage
stories
storybook-static
playwright-report
test-results
docs